body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

#passwordGenerata {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    word-break: break-all;
}

label {
    display: block;
    margin: 5px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
